[submodule "practice/lib/forge-std"]
	path = practice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "practice/lib/openzeppelin-contracts"]
	path = practice/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
